<%= form_for (@group) do |f| %>
    <% if @group.errors.any? %>
        <div id="error_exp">
            <h2>Errors:</h2>
            <ul>
                <% @group.errors.messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :title, "Group Title:" %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description, "Group Description:" %>
        <%= f.text_field :description %>
    </p>
    <p>
    Select a pre-existing category: <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true %>
    <br />
    <br />
    
    <%= f.fields_for :category do |c| %>
        <%= c.label :name, "OR create a new category:" %>
        <%= c.text_field :name %>
    <% end %>
    </p>
    <p>
    <h3>Cards</h3>
    <%= f.fields_for :cards do |c| %>
        <%= c.label :front %>
        <%= c.text_field :front %>

        <%= c.label :back %>
        <%= c.text_field :back %>
        <br />
    <% end %>
    </p>
    <br />
    <%= f.submit 'Submit' %>
<% end %>

