<%= form_for (@group) do |f| %>

    <% if @group.errors.any? %>
        <div class="errors">
        <h3 style="color:#128FE3">Errors:</h3>
        <ul>
        <% error_display(@group).each do |msg|%>
           <li style="color:#CAD2D9"><%= msg %></li> 
        <% end %>
        </ul>
        </div>
    <% end %>

    <p>
    <h3>Group Info:</h3>
        <%= f.label :title, "Group Title:" %>
        <%= f.text_field :title %>
        <br />
        <br />
        <%= f.label :description, "Group Description:" %>
        <%= f.text_field :description %>
    </p>

    <p>
    <h3>Category:</h3>
    Select a pre-existing category: <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true %>
    <br />
    <br />
    
    <%= f.fields_for :category do |c| %>
        <%= c.label :name, "OR create a new category:" %>
        <%= c.text_field :name %>
    <% end %>
    </p>

    <p>
    <h3>Cards:</h3>
    <%= f.fields_for :cards do |c| %>
        <%= c.label :front %>
        <%= c.text_field :front %>

        <%= c.label :back %>
        <%= c.text_field :back %>
        <br />
    <% end %>
    </p>
    <br />
    <%= f.submit 'Submit', :class => 'btn-style' %>
<% end %>

