<h2>Title: <%= @group.title %></h2>
<div style="display: flex;">
  <h3 style="padding-right: 7px;">Created By: <%= @group.user.name %></h3>
  <h3>Category: <%= @group.category.name %></h3>
</div>

<% @group.cards.each do |card| %>
<li><%= card.front %> - <%= card.back%></li>
<% end %>

<br />
<div style="display: flex; justify-content: center;">
  <%= button_to 'Study This Set', cards_front_path(@group), method: :get, :class => 'btn-style-spc' %>
  
  <% if current_user == @group.user %>
  <%= button_to 'Edit Set Contents', edit_group_path(@group), method: :get, :class => 'btn-style-spc' %>
  <% end %>
</div>