<!DOCTYPE html>
<html>
  <head>
    <title>TrunkCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <div class="topnav">
    <div class="logo">
      
    </div>
    <div class="links">
      <%= link_to "Log out", logout_path, method: "delete" %>

    </div>
  </div>

  <body>
        <%= yield %>
  </body>
</html>
