<!DOCTYPE html>
<html>
  <head>
    <title>TrunkCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class='wrapper'>
    <div class='nav'>

      <% if logged_in? %>
      <div class="links">
        <%= link_to current_user.name, user_groups_path(current_user) %> | 
        <%= link_to 'Logout', logout_path, method:'delete' %> | 
        <%= link_to 'Create Group', new_user_group_path(current_user) %> | 
        <%= link_to 'Categories', categories_path %>
      </div>
      <% end %>

      <h1>Trunk Cards</h1>
      
    </div>

  <%= yield %>
    </div>
  </body>
</html>
