<!DOCTYPE html>
<html>
  <head>
    <title>TrunkCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class='wrapper'>
    <div class='nav'>
      <% if logged_in? %>
        <div style="display: flex; justify-content: space-between; background-color: #122342; padding-left: 7px; padding-right: 7px;">
          <h1 style="color: white;">Trunk Cards</h1>
          <div style="align-self: center; color: white;">
            <%= link_to current_user.name, user_groups_path(current_user), :style => 'color: white;' %> | 
            <%= link_to 'Logout', logout_path, method:'delete', :style => 'color: white;' %> | 
            <%= link_to 'Create Group', new_user_group_path(current_user), :style => 'color: white;' %> | 
            <%= link_to 'Categories', categories_path, :style => 'color: white;' %>
          </div>
        </div>
      <% else %>
        <h1>Trunk Cards</h1>
      <% end %>
    </div>

    <% if flash[:message] %>
      <h3 style="color:#128FE3"><%= flash[:message] %></h3>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
